.App {
    text-align: center;
}

.header-bar {
    background-color: #1c4e80;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}

.dashboard-page {
    position: relative;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    @media (min-width: 640px) {
        border-radius: 12px;
    }
}

.dashboard-table {
    overflow-x: auto;
}

table {
    padding: 0.5rem;
    border: 1px solid;
    margin: 0 auto;
    text-align: center; 
    color: #6b7280;
    display: table; 
    width: 98%;
}

thead {
    color: black;
    text-transform: capitalize;
    background-color: #f9fafb;
    line-height: 16px;
}

.global-checkbox, .row-checkbox {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    justify-content: center;
    align-items: center;
}

.global-checkbox-input, .row-checkbox-input {
    cursor: pointer;
    height: 20px;
    width: 20px;
    color: #3b82f6;
    transition: ease-in-out;
    transition-duration: 150ms;
}

.table-header-id {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    width: 8.333333%;
}

.table-header-name, .table-header-email, .table-header-actions {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 25%;
}

.table-header-role {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 8.333333%;
}

.selected-table-row {
    color: #6b7280;
    background-color: #e8f0fe;
}

.table-row {
    color: #6b7280;
}

.table-row-data {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 500;
}

.table-row-data-actions {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 1.5rem 0;
    text-align: center;

    @media (min-width: 640px) {
        flex-direction: row;
    }
}

.edit-button-div {
    color: blue;
}

.delete-button-div {
    color: red;
}

.edit-button, .delete-button {
    cursor: pointer;
    border-radius: 0.375rem;
    border: 0.2px solid;
    border-color: rgb(215, 215, 215);
    padding: 0.25rem;
}

